@media only screen and (max-width:800px){
  
#menu {  
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.social-link-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.social-link-head{
  align-self: flex-start;
  margin-left:8px;
  font-size: 130%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.social-link-head > h2{
  background: linear-gradient(90deg, #1D267D, #D4ADFC);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.social-link-head > span {
  font-size: 60%;
  margin-bottom: 10px;
}
.social-link{
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 80%;
}
.social-link > a {
  text-decoration:none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 7px;
  justify-content: space-around;
}

#menu-items {
  /* margin-left: clamp(4rem, 20vw, 48rem); */
  position: relative;
  z-index: 2;
}

.menu-item {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}


#menu[data-active-index="0"] > #menu-background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
  background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
  background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
  background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
  background-position: center 60%;
}

#menu-background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%, 
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, 
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100vw;
  z-index: 1;
}

#menu-background-image {
  background-image: url("https://images.unsplash.com/photo-1492496913980-501348b61469?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
  background-position: center 40%;
  background-size: 110vmax;
  height: 100%;
  left: 0px;  
  opacity: 0.15;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: 0;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 100vmax;
  opacity: 0.1;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1; 
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Ibarra Real Nova', serif;
  font-size: clamp(3rem, 8vw, 8rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
}

/* -- YouTube Link Styles -- */
}